* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --orange: #F36825;
    --cool-orange: #FA8900;
    --nice-green: rgba(0, 169, 136, 1);
    --red: #FF0003;
    --cool-red: #ff3b1d;
    --yellow: #FFCD02;
    --cool-yellow: #fdd700;
    --green: #14BB25;

    --dark-blue: #232F3E;
    --black: #170704;
    --white: #FFFFFF;
    --solid-gray: #898080;
    --medium-gray: #CCCCCC;
    --gray: #D9D9D9;

    --trasparent: rgba(0, 0, 0, 0);
}

/* NavBar */

header li,
header a,
header button,
.nav-links a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--trasparent);
    border-style: none;
}

header button {
    cursor: pointer
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 10%;
}

.person-icon,
.logout-icon {
    color: var(--orange);
}

.info-profile {
    color: var(--black);
    text-align: center;
    margin: 1em;
}

.info-profile:hover {
    color: var(--orange);
}

.link-logout {
    margin-left: 1em;
}

.logo {
    margin-right: auto;
}

.section-info-profile {
    display: flex;
    align-items: center;
}

header img {
    height: 30px;
}

.nav-links {
    list-style: none;
    background-color: var(--dark-blue);
}

.nav-links li {
    text-decoration: none;
    color: var(--gray);
    display: inline-block;
    padding: 0 1em;
}

.nav-links a,
.nav-links p {
    display: block;
    padding: 1em 0;
}

.nav-links li:hover {
    background-color: var(--black);
}

.nav-links a:visited {
    color: var(--gray);
}

.dropdown-menu-container {
    position: relative;
}
    
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.dropdown-menu li:hover {
    background-color: var(--gray);
}

.dropdown-menu a {
    color: var(--black);
}

.dropdown-menu a:visited {
    color: var(--black);
}
  
.dropdown:hover .dropdown-menu {
    display: block;
}

/* nice-title */

.nice-title {
    display: flex;
    align-items: center;
    padding: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.nice-title h1 {
    font-size: large;
}

.shopping-cart-icon {
    color: var(--orange);
    margin-right: 0.5em;
}

/* Compras page */

.compras-card-container {
    padding: 1.7em;
    background-color: var(--gray);
}

.searchInput {
    margin-bottom: 1em;
    padding: 8px 12px;
    border: 1px solid var(--gray);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}
  
.searchInput:focus {
    border-color: var(--orange);
}

.compra-card {
    background-color: var(--white);
    padding: 1em;
    border-radius: 10px;
}

.compra-card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 1em 0;
    background-color: var(--white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.compra-card-item li {
    list-style: none;
}

.compra-card-item h2 {
    color: var(--cool-orange);
}

/* Login page */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--dark-blue);
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.login-card p {
    color: var(--black);
    font-size: 16px;
    margin-bottom: 4px;
}
  
.login-card input {
    padding: 8px 12px;
    border: 1px solid var(--black);
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 12px;
    width: 200px;
    outline: none;
    transition: border-color 0.3s ease;
}

.login-card input:focus {
    border-color: var(--orange);
}
  
.login-card .Boton-inicio {
    padding: 10px 20px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.login-card .Boton-inicio:hover {
    background-color: var(--cool-orange);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--dark-blue);
    color: var(--white);
}

/* Menu page */

.menu-container {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}
  
.menu-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--dark-blue);
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
  
.menu-container a:hover {
    background-color: var(--green);
}
  
.menu-container a .material-symbols-rounded {
    margin-right: 0.5rem;
    font-size: 24px;
}

/* Proveedores page */

.proveedores-card-container {
    padding: 1.7em;
    background-color: var(--gray);
}

.proveedores-card {
    background-color: var(--white);
    padding: 1em;
    border-radius: 10px;
}

.proveedores-card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 1em 0;
    background-color: var(--white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.proveedores-card-item h2 {
    color: var(--cool-orange);
}

/* Clientes page */

.clientes-card-container {
    padding: 1.7em;
    background-color: var(--gray);
}

.clientes-card {
    background-color: var(--white);
    padding: 1em;
    border-radius: 10px;
}

.clientes-card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 1em 0;
    background-color: var(--white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.clientes-card-item h2 {
    color: var(--cool-orange);
}

/* Ventas page */

.ventas-card-container {
    padding: 1.7em;
    background-color: var(--gray);
}

.ventas-card {
    background-color: var(--white);
    padding: 1em;
    border-radius: 10px;
}

.ventas-card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 1em 0;
    background-color: var(--white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.ventas-card-item h2 {
    color: var(--cool-orange);
}

/* Articulos page */

.articulos-card-container {
    padding: 1.7em;
    background-color: var(--gray);
}

.articulos-card {
    background-color: var(--white);
    padding: 1em;
    border-radius: 10px;
}

.articulos-card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 1em 0;
    background-color: var(--white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#cantidad-inventario {
    color: var(--orange);
}

#cantidad-inventario span {
    color: var(--black);
}

/* Perfil page */

.perfil-card-container {
    padding: 1.7em;
    background-color: var(--gray);
    display: flex;
}
  
.datos-personales-card,
.perfil-ventas-card {
    width: 50%;
}

.datos-personales-card h2,
.perfil-ventas-card h2 {
    font-size: large;
}

.perfil-ventas-card-container,
.info-datos-personales {
    padding: 1.7em .5em;
    border-top-style: solid;
    border-color: var(--orange);
    border-width: 2px;
}	

.info-datos-personales {
    display: flex;
    justify-content: space-between;
}

.profile-pic-box img {
    width: 10em;
    height: 10em;
}

.info-box-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-box {
    text-align: center;
}

.non-editable-info,
.info-box-item input {
    display: flex;
    align-items: center;
    padding: calc(1em * 0.5);
    margin: 5px 1em;
    width: 18em;
    border-style: solid;
    border-width: 1px;
    border-color: var(--solid-gray);
    background-color: var(--medium-gray);
    color: var(--solid-gray);
}

.non-editable-info .icon {
    margin-right: calc(1em * 0.3);
}

.info-box-item input {
    font-size: medium;
    border-color: var(--dark-blue);
    background-color: var(--white);
    color: var(--dark-blue);
}

.info-box button {
    cursor: pointer;
    margin-top: 1em;
    padding: calc(1em * 0.5) 4em;
    font-size: medium;
    font-weight: 900;
    border-style: none;
    background-color: var(--yellow);
    color: var(--dark-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info-box button:hover {
    transition: background-color 0.3s ease;
    background-color: var(--cool-yellow);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.perfil-ventas-card-item {
    padding: 1em;
    width: 100%;
    border-style: dashed;
    border-width: 1px;
    background-color: var(--white);
}

.perfil-ventas-card-item h2 {
    text-decoration: underline;
    color: var(--orange);
}

/* Ventas-deadevis page */

.main-card-container {
    padding: 1.5em;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

 .search-container .searchInput {
    width: 70%;
    margin-bottom: 0;
}

.search-container p {
    margin-left: 2em;
}

.datos-contenedor {
    display: flex;
    justify-content: space-between;
}

.contenedor-monto-pagar {
    padding: 1em;
    border: 1px solid var(--gray);
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 30%;
}

.card-monto-pagar input {
    font-size: medium;
    width: 90%;
    margin: 1em;
    margin-bottom: calc(1em * 0.7);
    padding: calc(1em * 0.5);
    border-style: solid;
    border-color: var(--gray);
}

.card-monto-pagar h5 {
    margin-bottom: 1em;
}

.table-info-venta {
    margin: 1em 0;
    width: 100%;
}

.botones-section {
    text-align: center;
}

.botones-section button,
.pages button {
    cursor: pointer;
    margin: 1em 0;
    padding: calc(1em * 0.5) 2.5em;
    align-items: center;
    border-style: none;
    border-radius: 10px;
    color: var(--white);
}

#boton-suma {
    background-color: var(--cool-orange);
}

#boton-suma:hover {
    transition: background-color 0.3s ease;
    background-color: var(--orange);
}

#boton-bote-eliminar,
#boton-eliminar {
    background-color: var(--cool-red);
}

#boton-bote-eliminar:hover,
#boton-eliminar:hover {
    transition: background-color 0.3s ease;
    background-color: var(--red);
}

.contenedor-ventas {
    padding: 1em 2em;
    width: 70%;
}

.contenedor-ventas table,
.contenedor-clientes{
    padding: 1em;
    border: 1px solid var(--gray);
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.contenedor-ventas table th,
.contenedor-ventas table td {
    border: 1px solid var(--gray);
}

.pages {
    margin: 2em 0;
    text-align: center;
}

.Boton-ventas {
    margin: 1em 0;
    padding: calc(1em * 0.5) 2.5em;
    color: var(--white);
    background-color: var(--cool-orange);
}

.Boton-ventas:hover {
    transition: background-color 0.3s ease;
    background-color: var(--orange);
}